<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Stu & Reese's Old Timey Car Junkyard</title>
  </head>
  <body>
    <h1>Stu & Reese's Old Timey Car Junkyard</h1>

    <form action="/cars" method="post">
      <label for="makeModel">Add a new car!</label>
      <input id="makeModel" name="makeModel" type="text">
      <label for="price">Add its price:</label>
      <input id="price" name="price" type="text">
      <label for="miles">Add its miles:</label>
      <input id="miles" name="miles" type="text">
      <button type="submit">Add!</button>
    </form>

  </body>
</html>
